<% if admin_signed_in? %>
  <%= bootstrap_form_with model: @order, url: order_path(@order), method: :patch, local: true do |f| %>
    <%= f.select :status, [['Approved'], ['Denied']] %>
    <%= f.submit %>
  <% end %>
<% end %>

<p> Order Number: <%= @order.id%></p>
<p>Name: <%= @order.name %></p>
<p>Email: <%= @order.email %></p>
<p>Order Status: </p>
<table class="table table-hover">
    <thead class="thead-dark">
      <tr>
        <th>Product</th>
        <th>Quantity</th>
      </tr>
    </thead>

    <tbody>
        <%= render(@order.line_items) %>
    </tbody>
</table>