<h1 class="header">
  <%= @product.name.capitalize %>
</h1>
<div class="container">
  <div class="card">
    <div class="card-body">
      <p>
        <%= @product.description %>
      </p>
      <p>
<<<<<<< Updated upstream
        <%= @product.description %>
        <%= button_to "Add to cart", line_items_path(@product.id)%>
=======
        <%= button_to 'Add to cart', line_items_path(product_id: @product), class: 'button is-warning add-to-cart' %>
>>>>>>> Stashed changes
      </p>
    </div>
    <div class="card-footer">
      <%= link_to "Edit Product", edit_product_path(@product), class: 'btn btn-primary' %>
      <%= button_to "Delete", product_path(@product), method: :delete, class: 'btn btn-danger' %>
      <%= link_to "Back to Product List", products_path, class: 'btn btn-primary'%>
    </div>
  </div>
</div>